<IfModule mod_php7.c>
    AddType application/x-httpd-php .php .PHP
    AddHandler application/x-httpd-php .php .PHP
</IfModule>
<IfModule mod_php.c>
    AddType application/x-httpd-php .php .PHP
    AddHandler application/x-httpd-php .php .PHP
</IfModule>
<IfModule mod_mime.c>
    AddType application/x-httpd-php .php .PHP
</IfModule>
